<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header"></head>
<body>
<nav th:replace="fragments/header :: navigation"></nav>
<div class="container">
    <div class="title">
        <div class="title-text"><i class="fas fa-ghost"></i> <span th:text="${categoryName}"></span></div>
        <hr>
        <div class="row" th:each="post : ${posts}">
            <div class="col">
                <a th:href="'/home/' + ${categoryName} + '/' + ${post.id}">
                    <div class="category">
                        <th:block sec:authorize="hasAuthority('ADMIN')"><a th:href="'/admin/post/delete/?Id=' + ${post.id}"><button type="button" class="btn-close btn-close-white" aria-label="Close"></button></a></th:block>
                        <div class="category-title"><span th:text="${post.topic}"></span>
                        </div>
                        <div class="category-undertitle">
                            <hr>
                            <span th:text="'Utworzone przez: ' + ${post.user.username}"></span></div>
                    </div>
                </a>
            </div>
        </div>
        <hr>
        <a sec:authorize="isAuthenticated()" th:href="'/home/' + ${categoryName} + '/add'"
           class="topic-add-button">
            <i class="fas fa-plus"></i></a>
        <div th:replace="fragments/footer :: footer">
        </div>
    </div>
</div>
</body>
</html>